# Dependencies
frontend/node_modules/
backend/__pycache__/
backend/*/__pycache__/
backend/venv/
backend/*.pyc

# Build
frontend/.next/
frontend/out/

# Env
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# LOGS
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
backend/*.db
